body {
    ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navLogo {
    font-family: 'Poppins', sans-serif;
    font-weight: 800px;
}

.nav {
    display: inline;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

.header {
    background-color: #27374D;
    opacity: 60%;
    color: white;
}

ul {
    float: right;
}

h1 {
    background-color: #526D82;
    display: inline-block;
    height: 100px;
    width: 50;
}
