
/* UNIVERSAL SELECTOR */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ELEMENT SELECTORS - GENERAL STYLINGS */

body {
    font-family: 'Poppins', sans-serif;
} 

a {
    text-decoration: none;
}

/* CUSTOM CLASSNAME SELECTORS*/

/*
Examples:
spaces > ul li {}
child selector : ul > li
adjacent sibling
general sibling

*/

/******************************************** HEADER SECTION ******************************************/


.header{
    position: relative;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(36, 36, 36, 0.52), rgba(48, 46, 51, 0.73)), url('../images/mine.jpg');
    background-size: cover;
  }
  
.header__brand {
      color: #fff;
      font-size: 50px;
      font-weight: 800; 
  }
  
.header__brand-span {
      color: gray;
  }

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 4%;
    background-color: rgba(36, 35, 35, 0.548);
}


.header__nav ul li {
    /* background-color: #394867; */
    display: inline-block;
    margin: 10px 20px;
    /* padding-right: 35px; */
}

.header__nav ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 400;

}

/* .header__nav a {
    color: #fff;
    text-decoration: none;
    font-size: 50px;
    font-weight: 800;

} */

.header__headings{
   position: absolute;
    /* background-color: green; */
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.header__headings-h1 {
    font-size: 60px;
}

.header__headings-h2 {
    font-size: 30px;
    font-weight: 200;
}



/******************************************** ABOUT SECTION ******************************************/

.about {
    height: 60vh;
    background-color: rgb(36, 35, 35);
    color: white;
}

.about__headings {
    width: 50%;
    text-align: center;
    margin: auto;
}

.about__heading--h2 {
    font-size: 60px;
    padding-top: 5rem;

}

.about__heading--p {
    text-align: center;
}



/******************************************** ABOUT SECTION ******************************************/

.portfolio {
    height: 130vh;
    padding: 50px;
    align-items: center;
    text-align: center;
}

.portfolio__heading--h2 {
    margin-top: 3%;
    font-size: 60px;
}

.portfolio__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    padding: 5%;
    margin-top: 50px;
}

.portfolio__img {
    display: flex;
    justify-content: center;
}

.portfolio__img img{
    object-fit: cover;
    width: 250px;
    height: 250px;
    display: block;
    border-radius: 10px;
}

.portfolio__heading--p {
    margin-bottom: 60px;
}

.portfolio__btn {
    background-color: gray;
    color: black;
    height: 50px;
    width: 250px;
    padding: 1% 1%;
    border-radius: 10px;
}


/******************************************** ABOUT SECTION ******************************************/

.contact {
    height: 130vh;
    color: #fff;
    background-color: black;
    padding: 5%;
}

.contact__row-left {
    flex-basis: 35%;
}

.contact__row-left p {
    margin-top: 30px;
}

.contact__row-left p i {
    color: #fff;
}

.contact__left--icons {
    margin-top: 30px;
}
.contact__left--icons a {
    color: #fff;
    font-size: 50px;
    margin-right: 15px;
}

.contact__btn {
    display: block;
    margin: 50px auto;
    border: 1px solid #fff;
    padding: 14px 50px;
    border-radius: 10px;
    color: #fff;
    width: fit-content;
}

.contact__btn.contact__btn-1 {
    display: inline-block;

}

.contact__row {
    display: flex;
    flex-direction: row;
}

.contact__heading--h2 {
    font-size: 60px;
}